In [4]:
#Q1
l1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l1.sort(key=lambda x : x[1])
print(l1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [6]:
#Q2
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2, a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Q3
l3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(tuple(map(lambda x : str(x), l3)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [12]:
#Q4
from functools import reduce
l4 = list(range(1,26))
print(l4)
sum1 = reduce(lambda x,y : x + y, l4)
pro1 = reduce(lambda x,y : x * y, l4)
print(sum1)
print(pro1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
325
15511210043330985984000000

In [1]:
#Q5
li = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(list(filter(lambda x : x%2 == 0 and x%3 == 0, li)))

[6, 60, 90, 120]

In [2]:
#Q6
b = ['python', 'php', 'aba', 'radar', 'level']
print(list(filter(lambda x : x==x[::-1],b)))

['php', 'aba', 'radar', 'level']